//variables
$grid-color: gray;
$cell-height: 200px;
$cell-width: 250px;
$player-square: 300px;
$font-size: 40px;

h1 {
  font-size: $font-size;
}
.grid
{
  display: table;
  >.row
  {
    display: table-row;
    >.cell
    {
      display: table-cell;
      border: solid;
      border-color: $grid-color;
      border-width: 3px;
      padding-left: 5px;
      padding-right: 5px;
      height: $cell-height;
      width: $cell-width;
    }
  }
}




.player {
  position: absolute;
  width: $player-square;
  height: $player-square;
  border-color: $grid-color;
  border-style: solid;
  border-width: 5px;
  left: 850px;
  top: 0px;
}

