h1 {
  font-size: 40px; }

.grid {
  display: table; }
  .grid > .row {
    display: table-row; }
    .grid > .row > .cell {
      display: table-cell;
      border: solid;
      border-color: gray;
      border-width: 3px;
      padding-left: 5px;
      padding-right: 5px;
      height: 200px;
      width: 250px; }

.player {
  position: absolute;
  width: 300px;
  height: 300px;
  border-color: gray;
  border-style: solid;
  border-width: 5px;
  left: 850px;
  top: 0px; }
