.alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
  margin-bottom: 15px;
  height: 150px;
  font-size: 100px; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s; }

.closebtn:hover {
  color: black; }

h1 {
  font-size: 40px; }

.hide {
  visibility: hidden;
  display: none; }

.grid {
  display: table; }
  .grid > .row {
    display: table-row; }
    .grid > .row > .cell {
      display: table-cell;
      border: solid;
      border-color: gray;
      border-width: 3px;
      padding-left: 5px;
      padding-right: 5px;
      height: 175px;
      width: 225px; }
      .grid > .row > .cell > .inner-cell-x {
        position: absolute;
        padding-top: 100px;
        padding-left: 30px;
        font-size: 200px;
        font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        color: blue; }
      .grid > .row > .cell > .inner-cell-o {
        position: absolute;
        padding-top: 100px;
        padding-left: 30px;
        font-size: 200px;
        font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        color: orange; }

.new-game {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  margin-bottom: 15px;
  height: 150px;
  font-size: 100px;
  transition-duration: 0.4s; }
  .new-game:hover {
    background-color: #f44336;
    border: 5px solid #f44336; }

.player {
  position: absolute;
  width: 300px;
  height: 300px;
  border-color: gray;
  border-style: solid;
  border-width: 5px;
  left: 850px;
  top: 0px; }
